<!-- libro-form.component.html -->

<h2>Insertar Libro</h2>

<form [formGroup]="libroForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" formControlName="nombre">
  </div>
  <div>
    <label for="autor">Autor:</label>
    <input type="text" id="autor" formControlName="autor">
  </div>
  <div>
    <label for="biblioteca">Biblioteca:</label>
    <input type="text" id="biblioteca" formControlName="biblioteca">
  </div>
  <div>
    <button type="submit">Insertar Libro</button>
  </div>
</form>
